name: Deploy to Github Pages
on:
  push:
    branches:
      - master
  workflow_call:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install deps
        run: uv sync --no-dev

      - name: Build
        run: uv run mkdocs build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@9d877eea73427180ae43cf98e8914934fe157a1a # v4
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: site # The folder the action should deploy.
