name: Python package
on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1

      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python --version
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build
        run: |
          mkdocs build


      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.3
        with:
            branch: gh-pages # The branch the action should deploy to.
            folder: site # The folder the action should deploy.